body {
  background: #fff url('../images/mosaique2_bg.jpg') center top no-repeat;
}

body > .container {
  width: 940px;
}

.centered {
  text-align: center;
}
.to-right {
  text-align: right;
}

header h1 {
  font-size: 65px;
  text-shadow:  0.02em  0.02em 0.05em #fff,
                0.02em -0.02em 0.05em #fff,
               -0.02em  0.02em 0.05em #fff,
               -0.02em -0.02em 0.05em #fff;
}

header h2 {
  font-size: 40px;
  line-height: 70%;
  padding-top: 20px;
  text-shadow:  0.02em  0.02em 0.05em #fff,
                0.02em -0.02em 0.05em #fff,
               -0.02em  0.02em 0.05em #fff,
               -0.02em -0.02em 0.05em #fff;
}

header h3 {
  margin-top: -10px;
  font-size: 20px;
}

header {
  padding-top: 100px;
  padding-bottom: 80px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

.ql {
  color: #08c;
  cursor: pointer;
}

blockquote p {
  padding-top: 2px;
  padding-bottom: 2px;
}

blockquote .ql {
  text-align: right;
  float: left;
  width: 45px;
  padding-right: 5px;
}

.qtip-content {
  font-size: 75%;
}

.qtip-title {
  font-size: 85%;
  padding: 3px 12px !important;
}

.greeting {
  font-size: 130%;
  padding-bottom: 25px;
}

.top {
  font-size: 115%;
}

footer {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 15px;
  font-size: 85%;
}

