.container, .navbar-fixed-top .container {
  width: 1170px;
}

.container, .navbar-fixed-top .container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

.pull-right {
  float: right;
}

.navbar .brand.pull-right {
  float: right;
  padding-right: 0px;
}

h1, h2 {
  width: 100%
}